<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>welcome {{request.user}} ! </h1>
    <h2>This Page For DataScience</h2>
    <h3>First name in context : {{first_name}}</h3>
    <h3>Last name in context : {{last_name}}</h3>
    {{first_name | title}}
    {% for i in my_list %}
    {{i}} {% endfor %}

    {# This is comment #}
    
    {% comment %}
        This is another ccomment
    {% endcomment %}
        
</body>
</html>